@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato-Bold.ttf") format("truetype"),
    url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.eot");
  src: local("☺"), url("../fonts/Lato-Black.woff") format("woff"),
    url("../fonts/Lato-Black.ttf") format("truetype"),
    url("../fonts/Lato-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

nav,
footer,
header,
section {
  display: block;
}

html,
body {
  color: #e5e5e5;
  height: 100%;
  min-width: 320px;
}

body {
  font-family: "Merriweather", serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1140px;
  padding: 0px 15px;
  width: 100%;
  display: flex;
  background-color: darkgreen;
}

@media (max-width: 962px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1c242a;
  margin: 22px 0 31px 0;
  padding: 0;
}

.top-line {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.top-line-info {
  justify-content: flex-end;
}

.top-line-info__text {
  display: inline-block;
  height: 18px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 40px 0 0;
  background-color: rgb(216, 241, 122);
}


/*position: fixed;
  width: 100%;
  left: 0;
  top: 70px;
  padding: 22px 0;
  height: 60px;
  background-color: #c21515;
  justify-content: flex-end;
}*/

.top-line-menu-logo {
  margin-top: 33px;
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  color: #005fa3;
  background-color: brown;
}

nav.top-line-menu-nav {
  background-color: chartreuse;
  justify-content: flex-end;
  width: 80%;
}

.top-line-menu__link {
  margin-right: 1em !important;
}

.top-line-menu__link:hover {
  background: #e5e5e5;
  color: #005fa3;
}

ul.top-line-menu-nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

ul.top-line-menu-nav-list li {
  margin: 0;
  padding: 0 68px 0 0;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #222;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-toggler {
  background: #e5e5e5 !important;
}

.main {
  position: relative;
  background-image: url("../img/first_screen.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 110px;
  height: 670px;
}

.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
}

.first-screen {
  /*background-attachment: fixed;*/
  position: relative;
  margin: auto;
  padding: 2em;
}
.first-screen h1 {
  font-family: "Merriweather", serif;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 48px;
  line-height: 66px;
  width: 590px;
}

.first-screen button {
  border: none;
  border-radius: 0pt;
  background-color: #005fa3;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  width: 270px;
  height: 60px;
}
